<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="test-parameter" parent-module="mapper.ParentModule" guice-stage="PRODUCTION">

    <test name="example1">

        <parameter name="dbconfig" value="db.properties" />
        <parameter name="poolsize" value="10" />

        <classes>
            <class name="mapper.TestParameterXML" />
            <class name="mapper.SubscriberMapperTest" />



        </classes>

    </test>

</suite>