<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<!--<suite name="test-parameter" parent-module="mapper.Config" guice-stage="PRODUCTION">-->
    <suite parent-module="mapper.Config" name="example1" verbose="1">

    <test name="example1">

<!--        <parameter name="dbconfig" value="db.properties" />-->
<!--        <parameter name="poolsize" value="10" />-->
<!--        <packages>-->
<!--            <package name="mapper.*"/>-->
<!--        </packages>-->
        <classes>
            <class name="mapper.Config" />

            <class name="mapper.SubscriberMapperTest" />
        </classes>

    </test>

</suite>